Repository palstn97/DuckOn2.0_MEMEDUCK: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build_backend, build_frontend, deploy_frontend_prod, build_memeduck_front, deploy_memeduck_front_dev, deploy_memeduck_front_prod

Path conditions:
  build_backend: any of: backend/**/*, build.gradle*, settings.gradle*, gradle/**/*, .gitlab-ci.yml
  build_frontend: any of: frontend/**/*, frontend/package.json, frontend/package-lock.json, frontend/vite.config.*, .gitlab-ci.yml
  deploy_frontend_prod: any of: frontend/**/*, frontend/package.json, frontend/package-lock.json, frontend/vite.config.*, .gitlab-ci.yml
  build_memeduck_front: any of: md_frontend/**/*, md_frontend/package.json, md_frontend/package-lock.json, md_frontend/vite.config.*, .gitlab-ci.yml
  deploy_memeduck_front_dev: any of: md_frontend/**/*, md_frontend/package.json, md_frontend/package-lock.json, md_frontend/vite.config.*, .gitlab-ci.yml
  deploy_memeduck_front_prod: any of: md_frontend/**/*, md_frontend/package.json, md_frontend/package-lock.json, md_frontend/vite.config.*, .gitlab-ci.yml

[S13P31A406-243] fix : MemeTag 기존 태그 삭제 로직 수정 - flush() 추가
  backend/src/main/java/com/a404/duckonback/service/MemeServiceImpl.java
Due: build_backend

[S13P31A406-264] feat: 어플리케이션 등록을 위한 계정 삭제 안내, child-safety 페이지 생성
  frontend/src/App.tsx
  frontend/src/pages/AccountDeletePage.tsx
  frontend/src/pages/ChildSafetyPage.tsx
Due: build_frontend, deploy_frontend_prod

[S13P31A406-243] fix : MemeTag 기존 태그 삭제 로직 수정 - 양방향 동기화
  backend/src/main/java/com/a404/duckonback/service/MemeServiceImpl.java
Due: build_backend

[S13P31A406-243] fix : MemeTag 기존 태그 삭제 로직 수정 - 태그 추가에서의 양방향 동기화
  backend/src/main/java/com/a404/duckonback/service/MemeServiceImpl.java
Due: build_backend

[S13P31A406-279] fix: 덕온 회원가입 이메일 인증 오류 및 UI 수정, 밈덕 로고 수정
  md_frontend/public/logo.svg
  md_frontend/src/pages/LoginPage.tsx
  md_frontend/src/pages/SignupPage.tsx
Due: build_memeduck_front, deploy_memeduck_front_dev, deploy_memeduck_front_prod

[S13P31A406-279] fix: 덕온 이메일 인증 시 오류 및 UI 수정
  frontend/src/hooks/useSignupForm.ts
  frontend/src/pages/SignupPage.tsx
Due: build_frontend, deploy_frontend_prod

[S13P31A406-281] elasticache 적용으로 인한 함수 변경
  backend/src/main/java/com/a404/duckonback/service/LiveRoomServiceImpl.java
  backend/src/main/java/com/a404/duckonback/service/RedisService.java
  backend/src/main/java/com/a404/duckonback/service/RedisServiceImpl.java
Due: build_backend

[S13P31A406-280] feat: 어플 아이콘 덕온으로 수정 및 스와이프 시 이전 페이지로 이동 설정
  frontend/android/app/src/main/res/mipmap-anydpi-v26/ic_launcher.xml
  frontend/android/app/src/main/res/mipmap-anydpi-v26/ic_launcher_round.xml
  frontend/android/app/src/main/res/mipmap-hdpi/ic_launcher.png
  frontend/android/app/src/main/res/mipmap-hdpi/ic_launcher_adaptive_back.png
  frontend/android/app/src/main/res/mipmap-hdpi/ic_launcher_adaptive_fore.png
  frontend/android/app/src/main/res/mipmap-hdpi/ic_launcher_foreground.png
  frontend/android/app/src/main/res/mipmap-hdpi/ic_launcher_round.png
  frontend/android/app/src/main/res/mipmap-mdpi/ic_launcher.png
  frontend/android/app/src/main/res/mipmap-mdpi/ic_launcher_adaptive_back.png
  frontend/android/app/src/main/res/mipmap-mdpi/ic_launcher_adaptive_fore.png
  frontend/android/app/src/main/res/mipmap-mdpi/ic_launcher_foreground.png
  frontend/android/app/src/main/res/mipmap-mdpi/ic_launcher_round.png
  frontend/android/app/src/main/res/mipmap-xhdpi/ic_launcher.png
  frontend/android/app/src/main/res/mipmap-xhdpi/ic_launcher_adaptive_back.png
  frontend/android/app/src/main/res/mipmap-xhdpi/ic_launcher_adaptive_fore.png
  frontend/android/app/src/main/res/mipmap-xhdpi/ic_launcher_foreground.png
  frontend/android/app/src/main/res/mipmap-xhdpi/ic_launcher_round.png
  frontend/android/app/src/main/res/mipmap-xxhdpi/ic_launcher.png
  frontend/android/app/src/main/res/mipmap-xxhdpi/ic_launcher_adaptive_back.png
  frontend/android/app/src/main/res/mipmap-xxhdpi/ic_launcher_adaptive_fore.png
  frontend/android/app/src/main/res/mipmap-xxhdpi/ic_launcher_foreground.png
  frontend/android/app/src/main/res/mipmap-xxhdpi/ic_launcher_round.png
  frontend/android/app/src/main/res/mipmap-xxxhdpi/ic_launcher.png
  frontend/android/app/src/main/res/mipmap-xxxhdpi/ic_launcher_adaptive_back.png
  frontend/android/app/src/main/res/mipmap-xxxhdpi/ic_launcher_adaptive_fore.png
  frontend/android/app/src/main/res/mipmap-xxxhdpi/ic_launcher_foreground.png
  frontend/android/app/src/main/res/mipmap-xxxhdpi/ic_launcher_round.png
  frontend/src/components/common/SwipeBackWrapper.tsx
  frontend/src/pages/ArtistDetailPage/FollowedArtistsPage.tsx
  frontend/src/pages/ArtistDetailPage/index.tsx
  frontend/src/pages/ArtistListPage.tsx
  frontend/src/pages/LeaderboardPage.tsx
  frontend/src/pages/MyPage.tsx
  frontend/src/pages/RoomListPage.tsx
Due: build_frontend, deploy_frontend_prod

[S13P31A406-270] fix: 강퇴 시 영상 시청 금지 및 채팅 금지
  frontend/src/App.tsx
  frontend/src/pages/LiveRoomPage/ChatPanel.tsx
  frontend/src/pages/LiveRoomPage/VideoPlayer.tsx
  frontend/src/pages/LiveRoomPage/index.tsx
Due: build_frontend, deploy_frontend_prod

[S13P31A406-280] feat: 어플 버전 1.0.1
  frontend/android/app/build.gradle
Due: build_frontend, deploy_frontend_prod

[S13P31A406-285] feat : 프로필 수정 언어 추가함
  frontend/src/components/domain/user/EditProfileCard.tsx
  frontend/src/components/domain/user/MyProfileCard.tsx
Due: build_frontend, deploy_frontend_prod

[S13P31A406-284] feat: 주언어 설정에 따른 ui 변경
  frontend/src/api/translateService.ts
  frontend/src/components/common/Header.tsx
  frontend/src/components/common/PasswordConfirm.tsx
  frontend/src/components/common/RankProgress.tsx
  frontend/src/components/common/UIText.tsx
  frontend/src/components/common/modal/CreateRoomModal.tsx
  frontend/src/components/domain/room/MyCreatedRoomsPanel.tsx
  frontend/src/components/domain/user/EditProfileCard.tsx
  frontend/src/components/domain/user/MyProfileCard.tsx
  frontend/src/components/domain/user/OtherProfileCard.tsx
  frontend/src/hooks/useUiTranslate.ts
  frontend/src/i18n/uiStrings.ts
  frontend/src/pages/ArtistDetailPage/ArtistChatTab.tsx
  frontend/src/pages/ArtistDetailPage/LeftSidebar.tsx
  frontend/src/pages/ArtistDetailPage/RecommendTab.tsx
  frontend/src/pages/ArtistDetailPage/RightSidebar.tsx
  frontend/src/pages/ArtistDetailPage/index.tsx
  frontend/src/pages/ArtistListPage.tsx
  frontend/src/pages/HomePage.tsx
  frontend/src/pages/LeaderboardPage.tsx
  frontend/src/pages/SignupPage.tsx
Due: build_frontend, deploy_frontend_prod

[S13P31A406-286] fix : 3순위 영어로 바꿈
  frontend/src/pages/LeaderboardPage.tsx
  md_frontend/src/pages/LeaderboardPage.tsx
Due: build_frontend, deploy_frontend_prod, build_memeduck_front, deploy_memeduck_front_dev, deploy_memeduck_front_prod

[hotfix] 비밀번호 변경 위한 이메일 인증 기능 구현
  backend/src/main/java/com/a404/duckonback/controller/AuthController.java
  backend/src/main/java/com/a404/duckonback/dto/JWTDTO.java
  backend/src/main/java/com/a404/duckonback/response/ErrorCode.java
  backend/src/main/java/com/a404/duckonback/response/SuccessCode.java
  backend/src/main/java/com/a404/duckonback/service/AuthService.java
  backend/src/main/java/com/a404/duckonback/service/AuthServiceImpl.java
Due: build_backend

[S13P31A406-287] feat : 밈덕 인기태그 비활성화
  md_frontend/src/pages/HomePage.tsx
Due: build_memeduck_front, deploy_memeduck_front_dev, deploy_memeduck_front_prod

[hotfix] 새로운 비밀번호 설정 api 구현
  backend/src/main/java/com/a404/duckonback/controller/MeController.java
  backend/src/main/java/com/a404/duckonback/service/UserService.java
  backend/src/main/java/com/a404/duckonback/service/UserServiceImpl.java
Due: build_backend

[hotfix] public 에러 해결
  backend/src/main/java/com/a404/duckonback/service/UserServiceImpl.java
Due: build_backend

Add new directory
  exec/.gitkeep
Due: none

Add new file
  exec/dump.sql
Due: none

[S13P31A406-288] feat : 비밀번호 찾기
  frontend/src/App.tsx
  frontend/src/api/authService.ts
  frontend/src/pages/ForgotPasswordPage.tsx
  frontend/src/pages/LoginPage.tsx
Due: build_frontend, deploy_frontend_prod

Add new file
  exec/README.md
Due: none

Edit README.md
  exec/README.md
Due: none

Upload New File
  exec/MemeDuck_시연시나리오.docx
Due: none

[S13P31A406-289] fix : 비밀번호 찾기 수정
  frontend/src/api/authService.ts
Due: build_frontend, deploy_frontend_prod

[S13P31A406-284] feat: 언어 번역
  frontend/src/i18n/uiStrings.ts
  frontend/src/pages/LiveRoomPage/ChatPanel.tsx
  frontend/src/pages/LiveRoomPage/LiveHeader.tsx
  frontend/src/pages/LiveRoomPage/PlaylistPanel.tsx
  frontend/src/pages/LiveRoomPage/VideoPlayer.tsx
  frontend/src/pages/LiveRoomPage/index.tsx
Due: build_frontend, deploy_frontend_prod

[hotfix] cicd yml 수정
  .gitlab-ci.yml
Due: build_backend, build_frontend, deploy_frontend_prod, build_memeduck_front, deploy_memeduck_front_dev, deploy_memeduck_front_prod

hotfix : properties 수정
  backend/src/main/resources/application.properties
Due: build_backend

Create README.md
  README.md
Due: none
